
input {
    width: 16%;
}
h1 {
    text-align: center;
}
h2{
    text-align: center;
    font-family: Algerian, fantasy;
    font-size: 36px;
}
h4 {
    text-align: center;
    margin-top: 2%;
    font-family: Algerian,fantasy;
 }
 .td2 {

 }
td {
    vertical-align: top;
    border:3px solid black;padding: 1px;

}
.button_class{}
.button_spells{}
.button_handbook{}

iframe
{
    border: 0;
    flex-grow: 1;
    margin: 0;
    width: 100%;
    overflow:hidden;
    height:1000px;
}

.tops{
    border-radius:16px;
    font-size: 16px;
    font-family: Algerian, fantasy;
}
button{
    border-radius:16px;
    font-size: 16px;
    font-family: Algerian, fantasy;
}

